* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    background-color: hsl(0, 0%, 95%);
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 20px;
    max-width: 1440px;
}

/* ---------- CARD ---------- */
.card {
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 30px;
    row-gap: 30px;
}

.card:nth-child(1) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card:nth-child(3) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card button {
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 1000px;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 70px;
    padding: 15px;
    width: 140px;
}

.card .btn-1 {
    color: hsl(31, 77%, 52%);
}

.card .btn-2 {
    color: hsl(184, 100%, 22%);
}

.card .btn-3 {
    color: hsl(179, 100%, 13%);
}

.card button:hover {
    background: none;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.card h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2rem;
}

.card p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 250px;
}

/* ---------- MOBILE ---------- */
@media only screen and (max-width: 768px) {
    body {
        height: auto;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 50px;
    }

    .card button {
        margin: 0;
    }

    .card:nth-child(1) {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .card:nth-child(3) {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
    }
}