* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: hsl(233, 47%, 7%);
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    height: 100vh;
}

/* ---------- CARD ---------- */
/* LEFT side */
.card {
    display: grid;
    background-color: hsl(244, 38%, 16%);
    border-radius: 7px;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    max-width: 1440px;
}

.left {
    align-items: center;
    display: grid;
    color: hsl(0, 0%, 100%);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    max-width: 480px;
    padding: 50px;
}

.left h1 {
    font-size: 2.3rem;
}

.left p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
}

.left span {
    color: hsl(277, 64%, 61%);
}

.left ul {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    line-height: 1.5;
    list-style: none;
    justify-items: start;
    width: 100%;
}

.left ul h1 {
    font-size: 1.3rem;
}

.left ul p {
    font-size: 0.7rem;
    letter-spacing: 1px;
}

/* RIGHT side */
.right {
    position: relative;
}

.overlay {
    background: rgba(110, 0, 179, 0.4);
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.right img {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
}

/* ---------- MOBILE ---------- */
@media only screen and (max-width: 768px) {
    body {
        height: auto;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        margin: 20px;
        text-align: center;
    }

    /* LEFT side */
    .left {
        align-items: center;
        grid-row: 2;
        grid-template-rows: 1fr 1fr 2fr;
        justify-items: center;
        padding: 20px;
        row-gap: 10px;
    }

    .left h1 {
        font-size: 1.8rem;
    }

    .left p {
        align-self: flex-start;
    }

    .left ul {
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: 100%;
        justify-items: center;
        row-gap: auto;
    }

    /* RIGHT side */
    .overlay {
        border-top-left-radius: 7px;
        border-bottom-right-radius: 0;
    }

    .right img {
        border-top-left-radius: 7px;
        border-bottom-right-radius: 0;
    }
}